.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Sample app", root_path, id: "logo", class: "navbar-brand"
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li= link_to "Help",    help_path
        %li= link_to "About",   about_path
        %li= link_to "Contact",   contact_path
        %li= link_to "Sign in",   '#'
        -#%li.dropdown
          -#%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            -#Dropdown
            -#%b.caret
          -#%ul.dropdown-menu
            -#%li
              -#%a{:href => "#"} Action
            -#%li
              -#%a{:href => "#"} Another action
            -#%li
              -#%a{:href => "#"} Something else here
            -#%li.divider
            -#%li.dropdown-header Nav header
            -#%li
              -#%a{:href => "#"} Separated link
            -#%li
              -#%a{:href => "#"} One more separated link
      -#%form.navbar-form.navbar-right
        -#.form-group
          -#%input.form-control{:placeholder => "Email", :type => "text"}/
        -#.form-group
          -#%input.form-control{:placeholder => "Password", :type => "password"}/
        -#%button.btn.btn-success{:type => "submit"} Sign in
